name: Deploy to Freemius

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    name: Deploy to Freemius
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Freemius
        uses: wp-vulnerability/deploy-on-freemius@v1.2.1
        with:
          freemius-developer-id: ${{ secrets.FREEMIUS_DEVELOPER_ID }}
          freemius-plugin-id: ${{ secrets.FREEMIUS_PLUGIN_ID }}
          freemius-public-key: ${{ secrets.FREEMIUS_PUBLIC_KEY }}
          freemius-secret-key: ${{ secrets.FREEMIUS_SECRET_KEY }}
          freemius-zip-name: 'libre-bite.zip'